@media print {
  fieldset {
    border: none;
  }

  legend {
    display: none;
  }

  input[type="checkbox"] {
    display: none;
} 
  input[type="checkbox"]:not(:checked) + label{
    display: none;
} 
  
  input[type="checkbox"]:checked + label::before {
    content: "- ";
  }
    
}